<p>
  <b> idshort:</b>
  <%=h @descriptions_short. idShort %>
</p>

<p>
  <b>Descriptionshort:</b>
  <%=h @descriptions_short.descriptionShort %>
</p>


<%= link_to 'Edit', edit_descriptions_short_path(@descriptions_short) %> |
<%= link_to 'Back', descriptions_shorts_path %>